{%  extends "templates/web.html" %}

{% block page_content %}
<div class="container">
    <header class="text-center mx-auto h1">Our singers</header>
    <div class="row pt-5">
    {% for singer in artist %}
        <div class="col-6">
            <a href="http://127.0.0.1:8000/specificArtist/?name={{ singer.artist_name }}">
                <div class="singerCard w-100 border border-3 p-5 m-2">
                    <img src="{{ singer.artist_image }}" class="singerImage w-100">
                    <h4 class="singerName m-0 py-2 text-center text-info">{{ singer.artist_name }}</h4>
                </div>
            </a>
        </div>
        {% endfor %}
    <a href="http://127.0.0.1:8000/songPortal" class="mx-auto my-3 h1 text-info">See all songs</a>
    </div>
</div>

{% endblock %}