{% extends "templates/web.html" %}

{% block page_content %}
<div class="container">
    <header class="text-center mx-auto h1"> The Songs</header>
    <div id="songs-container" class="row">
    </div>
    <div class="pagination-controls text-center mt-4">
        <button id="prev-page" class="btn btn-primary" disabled>Previous</button>
        <span id="page-info"></span>
        <button id="next-page" class="btn btn-primary">Next</button>
    </div>
    <script src="specificArtist.js"></script>
</div>
{% endblock %}
